body {
  background: url("imagenes/pps.png") center center no-repeat;
  background-size: cover;
  background-color: #000; 
  font-family: 'Nosifer', cursive;
  color: #00ff00;
}

.navbar {
  background-color: #000 !important; 
}

.navbar-brand img {
  width: 60px;
  margin-right: 10px;
}

.navbar-brand h1 {
  display: inline-block;
  font-size: 1.5rem;
  color: #00ff00;
  text-shadow: 0 0 5px #00ff00;
  margin: 0;
  vertical-align: middle;
}

.nav-link {
  color: #ccc !important;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #00ff00 !important;
}

.container h2 {
  color: #ff0033;
  text-shadow: 0 0 8px #ff0033;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.container p {
  color: #00ff00;
  font-size: 1.3rem;
  text-shadow: 0 0 5px #00ff00;
}

footer {
  background-color: #000;
  color: #00ff00;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}
.carousel-inner img {
  height: 600px;
  object-fit: cover;
}
